<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nea del día</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="card">
		<img src="<%= nea.imagen %>">
		<div class="info">
			<p><strong>Frase:</strong> “<%= nea.frase %>”</p>
			<p><strong>ID Contenedor:</strong>
				<%= nea.containerId %>
			</p>
		</div>
	</div>
</body>

</html>