* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 23, 23);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.card {
    width: 1200px;
    height: 800px;
    background: url("https://storage.googleapis.com/pokeneas-images999/background.webp") no-repeat center center fixed;
    background-size: cover;
    display:  flex;
    justify-content: space-around;
    align-items: center;
    color: #FFCB05;
}

.card img {
    height: 400px;
    width: 400px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info p {
    padding: 10px;
    border-radius: 10px;
    background-color: #0075BE;
}